@use '../abstracts' as *;

.contact-container {
  @include flexCCC;
  padding-bottom: $pb;
  @include main-layout;
}

.contact-title {
  @include numbers;
  font-size: 0.9rem;
  text-align: center;
}

.contact-subtitle {
  @include sectionTitle;
  font-size: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.contact-description {
  @include text;
  line-height: 1.3;
  width: 50%;
  text-align: center;
  padding-bottom: 2rem;
  @include l-mobile {
    width: 100%;
  }
}

.fa-phone,
.fa-envelope  {
  font-size: 1.2rem;
  color: $color1;
  padding-right: 1rem;
}