@use '../abstracts' as *;

.footer-container {
  @include flexCCC;
  margin: 0 150px;
  padding-bottom: 1.5rem;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.credits {
  font-size: 1rem;
  font-family: $secondary;
  color: $color1;
  text-align: center;
}