@use '../abstracts' as *;

.header-container {
  @include flexCCFS;
  min-height: 100vh;
  @include main-layout;
}

.my-name {
  @include numbers;
  font-size: 1.1rem;
  animation: appear5 0.7s;
}

@keyframes appear5 {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 100;
    transform: translateY(0px);
  }
}

.title {
  @include sectionTitle;
  font-size: 4.5rem;
  margin: 0;
  @include md-desktop {
    font-size: 7.5vw;
  }
  animation: appear6 0.9s;
}

@keyframes appear6 {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 100;
    transform: translateY(0px);
  }
}

.subtitle {
  @extend .title;
  color: $color2;
  margin-top: 0.6rem;
  line-height: 1;
  @include md-desktop {
    font-size: 7.5vw;
  }
  @include l-mobile {
    font-size: 36px;
  }
  animation: appear7 1.1s;
}

@keyframes appear7 {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 100;
    transform: translateY(0px);
  }
}

.description {
  @include text;
  padding: 1rem 0;
  max-width: 60%;
  @include md-tablet {
    max-width: 90%;
  }
  animation: appear8 1.3s;
}

@keyframes appear8 {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 100;
    transform: translateY(0px);
  }
}