@use '../abstracts' as *;

.header-container {
  @include flexCCFS;
  min-height: 100vh;
  margin: 0 150px;
}

.my-name {
  @include numbers;
  font-size: 1.1rem;
}

.title {
  @include sectionTitle;
  font-size: 4.5rem;
  margin: 0;
}

.subtitle {
  @extend .title;
  color: $color2;
  margin-top: 0.6rem;
  line-height: 1;
}

.description {
  @include text;
  padding: 1rem 0;
  max-width: 60%;
}