@use '../abstracts' as *;

.header-container {
  @include flexCCFS;
  min-height: 100vh;
  @include main-layout;
}

.my-name {
  @include numbers;
  font-size: 1.1rem;
}

.title {
  @include sectionTitle;
  font-size: 4.5rem;
  margin: 0;
  @include md-desktop {
    font-size: 7.5vw;
  }
}

.subtitle {
  @extend .title;
  color: $color2;
  margin-top: 0.6rem;
  line-height: 1;
  @include md-desktop {
    font-size: 7.5vw;
  }
  @include l-mobile {
    font-size: 36px;
  }
}

.description {
  @include text;
  padding: 1rem 0;
  max-width: 60%;
  @include md-tablet {
    max-width: 90%;
  }
}