@use '../abstracts' as *;

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  margin-top: 2rem;
}

.nav-logo {
  margin-left: 3rem;
  @include md-tablet {
    margin-left: 50px;
  }
  @include l-mobile {
    margin-left: 25px;
  }
  animation: appear1 1s;
}
.logo {
  width: 3rem;
}

@keyframes appear1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.nav-menu {
  display: inline-block;
  @include md-tablet {
    display: none;
  }
  animation: appear2 1s;
}

@keyframes appear2 {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 100;
    transform: translateX(0px);
  }
}

.nav-menu-mobile {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5rem;
  background-color: $color8;
  box-shadow: 5px 10px 20px $color7;
  border-top: 1px solid $color4;
  z-index: 4;
  @include md-tablet2 {
    display: none;
  }
  animation: appear4 0.2s;
}

@keyframes appear4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.nav-links-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 2rem;
}

.nav-links-mobile div {
  @include flexCCFS;
  gap: 4rem;
}

.menu-modal {
  @include overlays;
  height: 755vh;
  margin-top: 5rem;
  backdrop-filter: blur(5px);
  z-index: 3;
}

.fa-bars,
.fa-times {
  font-size: 1.2rem;
  width: 1.5rem;
}

.nav-link,
.nav-link-mobile {
  font-family: $secondary;
  font-size: 1rem;
  color: $color1;
  text-decoration: none;
  margin: 0rem 0.8rem;
  transition: 0.3s ease;
}

.nav-link-mobile {
  font-size: 1.2rem;
}

.nav-link-mobile span {
  font-size: 1rem;
}

.nav-link:hover,
.nav-link-mobile:hover {
  color: $color4;
  transition: 0.3s ease;
}

.number {
  @include numbers;
  font-size: 0.7rem;
}