@use '../abstracts/' as *;

// BUTTONS
.resume-btn {
  @include button;
  margin-right: 2.2rem;
  margin-left: 1.2rem;
}

.contact-btn {
  @include button;
  font-size: 1rem;
  padding: 1rem 2rem;
}

.header-btn {
  @extend .contact-btn;
  margin-top: 2rem;
  animation: appear9 1.5s;
}

@keyframes appear9 {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 100;
    transform: translateY(0px);
  }
}

.mobile-btn {
  @include button;
  display: none;
  margin-right: 3rem;
  @include md-tablet {
    display: block;
  }
  @include l-mobile {
    margin-right: 25px;
  }
  animation: appear3 1s;
}

@keyframes appear3 {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 100;
    transform: translateX(0px);
  }
}

.resume-btn-mobile {
  @include button;
  font-size: 1.1rem;
}

.resume-btn:hover,
.resume-btn-mobile:hover,
.contact-btn:hover,
.header-btn:hover,
.mobile-btn:hover {
  cursor: pointer;
  background-color: $color5;
  transition: 0.3s ease;
}

