@use 'variables' as *;

// LAYOUT
@mixin flexCCFS {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@mixin flexCCC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexC100 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

// TEXT
@mixin sectionTitle {
  font-family: $primary;
  color: $color1;
  font-size: 1.8rem;
}

@mixin text {
  font-family: $primary;
  font-size: 1.03rem;
  color: $color2;
  line-height: 1.5;
}

@mixin text2 {
  font-family: $primary;
  color: $color2;
}

@mixin numbers {
  font-family: $secondary;
  color: $color4;
}

// POSITION
@mixin overlays {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin wh100 {
  height: 100%;
  width: 100%;
}

@mixin main-layout {
  margin: 0 150px;
  @include l-desktop {
    margin: 0 100px;
  }
  @include md-tablet {
    margin: 0 50px;
  }
  @include l-mobile {
    margin: 0 25px;
  }
}

// SECTION 
@mixin description {
  @include text2;
  background-color: $color8;
  line-height: 1.5;
  padding: 2rem 1.5rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  max-width: 380px;
  min-width: 250px;
  box-shadow: $regularBox;
}

@mixin skills {
  font-family: $secondary;
  font-size: 0.85rem;
  color: $color2;
  margin-bottom: 1.8rem;
}

// COMPONENTS
@mixin button {
  font-family: $primary;
  color: $color4;
  background-color: $color6;
  border: 1px solid $color4;
  border-radius: 0.2rem;
  padding: 0.6rem 0.9rem;
  transition: 0.3s ease;
  outline: none;
}

// MEDIA QUERIES
@mixin l-desktop {
  @media (max-width: 1080px) { @content }
}

@mixin md-desktop {
  @media (max-width: 950px) { @content }
}

@mixin sm-desktop {
  @media (max-width: 830px) { @content }
}

@mixin md-tablet {
  @media (max-width: 768px) { @content }
}

@mixin sm-tablet {
  @media (max-width: 580px) { @content }
}

@mixin l-mobile {
  @media (max-width: 480px) { @content }
}

@mixin md-mobile {
  @media (max-width: 420px) { @content }
}

@mixin sm-mobile {
  @media (max-width: 360px) { @content }
}

@mixin tn-mobile {
  @media (max-width: 320px) { @content }
}

@mixin md-tablet2 {
  @media (min-width: 768px) { @content }
}

@mixin l-desktop2 {
  @media (min-width: 768px) { @content }
}