@use 'variables' as *;

// MIXINS

// Layout
@mixin flexCCFS {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@mixin flexCCC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexC100 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

// Text
@mixin sectionTitle {
  font-family: $primary;
  color: $color1;
  font-size: 1.8rem;
}

@mixin text {
  font-family: $primary;
  font-size: 1.1rem;
  color: $color2;
  line-height: 1.5;
}

@mixin text2 {
  font-family: $primary;
  color: $color2;
}

@mixin numbers {
  font-family: $secondary;
  color: $color4;
}

// Position 
@mixin overlays {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin wh100 {
  height: 100%;
  width: 100%;
}

// Section 
@mixin description {
  @include text2;
  background-color: $color8;
  line-height: 1.5;
  padding: 2rem 1.5rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  max-width: 380px;
  min-width: 250px;
  box-shadow: $regularBox;
}

@mixin skills {
  font-family: $secondary;
  font-size: 1rem;
  color: $color2;
  margin-bottom: 1.8rem;
}

// COMPONENTS
@mixin button {
  font-family: $primary;
  color: $color4;
  background-color: $color6;
  border: 1px solid $color4;
  border-radius: 0.2rem;
  padding: 0.6rem 0.9rem;
  transition: 0.3s ease;
  outline: none;
}