// FONTS
$primary: 'Noto Sans', sans-serif;
$secondary: 'PT Mono', monospace;

// COLORS
$color1: #ccd6f6;
$color2: #8892b0;
$color3: #8892b044;
$color4: #64ffda;
$color5: #64ffdb11;
$color6: #0a192f;
$color7: #081829;
$color8: #112240;


// COMPUTED
$pb: 8rem;
$border1: 1px solid $color4;

// OTHERS 
$regularBox: 5px 5px 10px $color7;