
$primary: 'Source Sans Pro', sans-serif;
$secondary: 'Cutive Mono', monospace;

$color1: #ccd6f6;
$color2: #8892b0;
$color3: #8892b044;
$color4: #64ffda;
$color5: #64ffdb11;
$color6: #0a192f;
$color7: #081829;
$color8: #112240;



// GLOBAL
html, 
body {
  margin: 0;
  height: 100%;
  font-family: Helvetica, sans-serif;
  background-color: $color6;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

// LAYOUT
.content {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
}

.inactive {
  display: none;
}

#inactive {
  display: none;
}

// NAVBAR
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  margin-top: 2rem;
}

.nav-logo {
  margin-left: 3rem;
}
.logo {
  width: 3rem;
}

.nav-menu {
  display: inline-block;
}

.nav-menu-mobile {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5rem;
  background-color: $color8;
  box-shadow: 5px 10px 20px $color7;
  border-top: 1px solid $color4;
  z-index: 4;
}

.nav-links-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 2rem;
}

.nav-links-mobile div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
}

.menu-modal {
  position: absolute;
  height: 755vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 5rem;
  backdrop-filter: blur(5px);
  z-index: 3;
}

.mobile-btn {
  display: none;
  margin-right: 3rem;
}

.fa-bars,
.fa-times {
  font-size: 1.2rem;
  width: 1.5rem;
}

.nav-link,
.nav-link-mobile {
  font-family: $secondary;
  font-size: 1rem;
  color: $color1;
  text-decoration: none;
  margin: 0rem 0.8rem;
  transition: 0.3s ease;
}

.nav-link-mobile {
  font-size: 1.2rem;
}

.nav-link-mobile span {
  font-size: 1rem;
}

.nav-link:hover,
.nav-link-mobile:hover {
  color: $color4;
  transition: 0.3s ease;
}

.number {
  font-family: $secondary;
  font-size: 0.7rem;
  color: $color4;
}

// BUTTONS
.main-btn {
  font-family: $primary;
  color: $color4;
  background-color: $color6;
  border: 1px solid $color4;
  border-radius: 0.2rem;
  padding: 0.6rem 0.9rem;
  transition: 0.3s ease;
  outline: none;
}

.main-btn:hover {
  cursor: pointer;
  background-color: $color5;
  transition: 0.3s ease;
}

.resume-btn {
  margin-right: 2.2rem;
  margin-left: 1.2rem;
}

.resume-btn-mobile {
  font-size: 1.1rem;
}

// HEADER
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  margin: 0 150px;
}

.my-name {
  color: $color4;
  font-size: 1.1rem;
  font-family: $secondary;
}

.title, 
.subtitle {
  font-family: $primary;
  font-size: 4.5rem;
  color: $color1;
  margin: 0;
}

.subtitle {
  font-family: $primary;
  color: $color2;
}

.description {
  font-family: $primary;
  font-size: 1.1rem;
  color: $color2;
  padding: 1rem 0;
  max-width: 60%;
  line-height: 1.5;
}

.header-btn {
  font-size: 1rem;
  padding: 1rem 2rem;
  margin-top: 2rem;
}

// ABOUT ME
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 150px;
  padding-bottom: 8rem;
}

.section-title {
  font-family: $primary;
  color: $color1;
  font-size: 1.8rem;
}

.section-title::after {
  content: '';
  display: inline-block;
  width: 250px; 
  height: 100%;
  margin-right: -100%;
  margin-left: 1rem;
  margin-bottom: 0.4rem;
  border-bottom: 1px solid $color3;
}

.section-number {
  font-family: $secondary;
  font-size: 1.8rem;
  color: $color4;
}

.about-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 5rem;
}

.about-text {
  font-family: $primary;
  font-size: 1.1rem;
  color: $color2;
  line-height: 1.5;
}

.profile-container {
  max-width: 300px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 260px;
  width: 100%;
  opacity: 0.4;
  transition: .3s ease;
  background-color: $color4;
  z-index: 2;
  border-radius: 0.3rem;
}

.profile-container:hover .overlay {
  opacity: 0;
}

.profile-container:hover .post-profile {
  transform: translateX(15px) translateY(10px);
}

.profile {
  max-width: 300px;
  border-radius: 0.3rem;
  position: relative;
  z-index: 1;
}

.post-profile {
  max-width: 300px;
  height: 260px;
  border: 3px solid $color4;
  border-radius: 0.3rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(20px) translateY(15px);
  transition: .3s ease;
}

// SKILLS
.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 150px;
  padding-bottom: 8rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: 2fr 170px;
  column-gap: 10rem;
  width: 100%;
}

.grid-title {
  font-family: $primary;
  color: $color1;
  font-size: 1.2rem;
}

.fa-code {
  font-size: 2rem;
  margin-right: 1rem;
}

.dev-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  text-align: center;
  min-width: 400px;
}

.dev-grid p {
  font-family: $primary;
  color: $color2;
  border: 1px solid $color2;
  border-radius: 50%;
  padding: 2.7rem 1rem;
  transition: 0.2s ease;
}

.dev-grid p:hover {
  color: $color4;
  border: 1px solid $color4;
  transform: scale(1.15);
  transition: 0.2s ease;
  cursor: alias;
  box-shadow: 0.5px 0.5px 5px $color4;
}

.skills-list {
  font-family: $primary;
  list-style: none;
  color: $color2;
  padding: 0;
  line-height: 2;
}

.fa-tools {
  font-size: 2rem;
  margin-right: 1rem;
}

.fa-lightbulb {
  font-size: 2rem;
  margin-right: 1rem;
}

.fa-check {
  color: $color4;
  margin-right: 0.5rem;
  font-size: 0.8rem;
}

// PROJECTS
.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 150px;
  padding-bottom: 8rem;
}

.project-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;  
  margin-bottom: 2rem;
}

.img-container {
  box-shadow: 5px 5px 10px $color7;
  aspect-ratio: 16/9;
  position: relative;
  max-width: 605px;
}

.img-container1 {
  box-shadow: 5px 5px 10px $color7;
  aspect-ratio: 16/9;
  position: relative;
  max-width: 605px;
}

.img-container2 {
  box-shadow: 5px 5px 10px $color7;
  display: none;
  aspect-ratio: 16/9;
  position: relative;
  max-width: 605px;
}

.project-screenshot {
  width: 100%;
  height: 100%;
  bottom: 0;
  border-radius: 0.3rem;
  position: relative;
  aspect-ratio: 16/9;
}

.p-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  transition: .3s ease;
  background-color: $color4;
  z-index: 2;
  border-radius: 0.3rem;
}

.img-container:hover .p-link::before {
  opacity: 0;
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.project-info-reverse {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-type {
  font-family: $secondary;
  font-size: 1rem;
  color: $color4;
  text-align: right;
}

.project-type-reverse {
  font-family: $secondary;
  font-size: 1rem;
  color: $color4;
  text-align: left;
}

.project-title {
  font-family: $primary;
  font-size: 1.5rem;
  color: $color1;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  text-align: right;
}

.project-title:hover {
  color: $color4;
  cursor: pointer;
}

.project-description {
  font-family: $primary;
  color: $color2;
  background-color: $color8;
  line-height: 1.5;
  padding: 2rem 1.5rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  text-align: right;
  max-width: 380px;
  min-width: 250px;
  box-shadow: 5px 5px 10px $color7;
}

.project-description-reverse {
  font-family: $primary;
  color: $color2;
  background-color: $color8;
  line-height: 1.5;
  padding: 2rem 1.5rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  text-align: left;
  max-width: 380px;
  min-width: 250px;
  box-shadow: 5px 5px 10px $color7;
}

.project-skills {
  font-family: $secondary;
  font-size: 1rem;
  color: $color2;
  margin-bottom: 1.8rem;
  text-align: right;
}

.project-skills-reverse {
  font-family: $secondary;
  font-size: 1rem;
  color: $color2;
  margin-bottom: 1.8rem;
  text-align: left;
}

.project-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project-links .fa-external-link-alt,
.fa-github,
.fa-instagram,
.fa-linkedin {
  font-size: 1.3rem;
  color: $color1;
}

.fa-github:hover, 
.fa-instagram:hover,
.fa-linkedin:hover,
.project-links .fa-external-link-alt:hover  {
  color: $color4;
}

// OTHER PROJECTS
.other-projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 150px;
  padding-bottom: 8rem;
}

.other-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 1rem 1rem;
}

.other-card{ 
  padding: 2rem;
  background-color: $color8;
  border-radius: 0.3rem;
  transition: 0.2s ease;
}

.other-card:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 5px 5px 10px $color7;
  transition: 0.2s ease;
  .other-title {
    color: $color4;
    transition: 0.2s ease;
  }
}

.other-title {
  font-family: $primary;
  font-size: 1.2rem;
  color: $color1;
  margin-top: 0.5rem;
  margin-bottom: 0;
  transition: 0.2s ease;
}

.other-description {
  font-family: $primary;
  color: $color2;
  line-height: 1.3;
  margin-bottom: 1.8rem;
}

.other-skills {
  font-family: $secondary;
  font-size: 0.9rem;
  color: $color2;
}

.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.fa-folder {
  font-size: 2.3rem;
  color: $color4;
}

.fa-external-link-alt {
  font-size: 1.1rem;
  color: $color2;
}

// CONTACT
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 150px;
  padding-bottom: 8rem;
}

.contact-title {
  font-family: $secondary;
  font-size: 1.1rem;
  color: $color4;
}

.contact-subtitle {
  font-family: $primary;
  font-size: 3rem;
  color: $color1;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.contact-description {
  font-family: $primary;
  font-size: 1.1rem;
  color: $color2;
  line-height: 1.3;
  width: 50%;
  text-align: center;
  padding-bottom: 2rem;
}

.fa-phone {
  font-size: 1.5rem;
  color: $color1;
  padding-right: 1rem;
}

.fa-envelope {
  font-size: 1.5rem;
  color: $color1;
  padding-right: 1rem;
}

// FOOTER 
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 150px;
  padding-bottom: 1.5rem;
}

.contact-btn {
  font-size: 1rem;
  padding: 1rem 2rem;
}

.social-media {
  display: flex;
  gap: 1rem;
}

.credits {
  font-size: 1rem;
  font-family: $secondary;
  color: $color1;
}

// MEDIA QUERIES
@media only screen and (max-width: 1080px) {
  .header-container,
  .about-container ,
  .skills-container,
  .projects-container,
  .other-projects-container,
  .contact-container,
  .footer-container {
    margin: 0 100px;
  }
}

@media only screen and (max-width: 600px) {
  .header-container,
  .about-container ,
  .skills-container,
  .projects-container,
  .other-projects-container,
  .contact-container,
  .footer-container {
    margin: 0 50px;
  }
}

@media only screen and (max-width: 1030px) {
  .other-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .skills-grid {
    gap: 5rem;
  }
  .project-grid {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .project-grid {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 830px) {
  .about-grid {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .skills-grid {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
  .flex-skills {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .other-grid {
    grid-template-columns: 1fr;
  }
  .project-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .img-container {
    aspect-ratio: 16/9;
  }
  .project-description {
    max-width: 100%;
  }
  .project-description-reverse {
    max-width: 100%;
  }
  .img-container1 {
    display: none;
  }
  .img-container2 {
    display: flex;
  }
  .section-title::after {
    content: '';
    display: inline-block;
    width: 200px; 
    height: 100%;
    margin-right: -100%;
    margin-left: 1rem;
    margin-bottom: 0.4rem;
    border-bottom: 1px solid $color3;
  }
}

@media only screen and (min-width: 830px) {
  .social-media {
    position: fixed;
    flex-direction: column;
    left: 0; 
    bottom: 0; 
    margin-left: 25px;
    margin-bottom: 150px;
  }
  .sm-line {
    border-left: 2px solid $color1;
    height: 120px;
    position: fixed;
    left: 33px;
    bottom: 0;
  }
}

@media only screen and (min-width: 1080px) {
  .social-media {
    margin-left: 50px;
  }

  .sm-line {
    left: 58px;
  }
}

@media only screen and (max-width: 740px) {
  .mobile-btn {
    display: block;
  }
  
  .nav-menu {
    display: none;
  }
}

@media only screen and (min-width: 740px) {
  .nav-menu-mobile {
    display: none;
  }
}

@media only screen and (max-width: 950px) {
  .title, 
  .subtitle {
  font-size: 7.5vw;
  }
}