
$primary: 'Source Sans Pro', sans-serif;
$secondary: 'Cutive Mono', monospace;


// GLOBAL
.html, 
body {
  margin: 0;
  height: 100vh;
  font-family: Helvetica, sans-serif;
  background-color: #0a192f;
  /* font-sans: "Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace; */
}

// LAYOUT
.content {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
}

// NAVBAR
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
}

.nav-logo {
  margin-left: 3rem;
}
.logo {
  width: 3rem;
}

.nav-menu {
  margin: 2.5rem;
}

.nav-link {
  font-family: $secondary;
  font-size: 1rem;
  color: #ccd6f6;
  text-decoration: none;
  margin: 0rem 1.5rem;
  transition: 0.3s ease;
}

.nav-link:hover {
  color: #64ffda;
  transition: 0.3s ease;
}

.number {
  font-family: $secondary;
  font-size: 0.7rem;
  color:#64ffda;
}

// BUTTONS
.main-btn {
  font-family: $primary;
  color: #64ffda;
  background-color: #0a192f;
  border: 1px solid #64ffda;
  border-radius: 0.2rem;
  padding: 0.6rem 0.9rem;
  transition: 0.3s ease;
}

.main-btn:hover {
  cursor: pointer;
  background-color: #64ffdb11;
  transition: 0.3s ease;
}

// HEADER
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  margin: 0 150px;
}

.my-name {
  color: #64ffda;
  font-size: 1.1rem;
  font-family: $secondary;
}

.title, 
.subtitle {
  font-family: $primary;
  font-size: 4.5rem;
  color: #ccd6f6;
  margin: 0;
}

.subtitle {
  font-family: $primary;
  color: #8892b0;
}

.description {
  font-family: $primary;
  font-size: 1.1rem;
  color: #8892b0;
  padding: 1rem 0;
  max-width: 60%;
  line-height: 1.5;
}

.header-btn {
  font-size: 1rem;
  padding: 1rem 2rem;
  margin-top: 2rem;
}

// ABOUT ME
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 150px;
  padding-bottom: 8rem;
}

.section-title {
  font-family: $primary;
  color: #ccd6f6;
  font-size: 1.8rem;
}

.section-number {
  font-family: $secondary;
  font-size: 1.8rem;
  color:#64ffda;
}

.about-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 2rem;
}

.about-text {
  font-family: $primary;
  font-size: 1.1rem;
  color: #8892b0;
  line-height: 1.5;
}

.profile-container {
  max-width: 300px;
  height: 100%;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 260px;
  width: 100%;
  opacity: 0.4;
  transition: .3s ease;
  background-color: #64ffda;
  z-index: 2;
  border-radius: 0.3rem;
}

.profile-container:hover .overlay {
  opacity: 0;
}

.profile-container:hover .post-profile {
  transform: translateX(15px) translateY(10px);
}

.profile {
  max-width: 300px;
  border-radius: 0.3rem;
  position: relative;
  z-index: 1;
}

.post-profile {
  max-width: 300px;
  height: 260px;
  border: 3px solid #64ffda;
  border-radius: 0.3rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(20px) translateY(15px);
  transition: .3s ease;
}

// SKILLS
.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 150px;
  padding-bottom: 8rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: 2fr 170px;
  column-gap: 10rem;
  width: 100%;
}

.grid-title {
  font-family: $primary;
  color: #ccd6f6;
  font-size: 1.2rem;
}

.fa-code {
  font-size: 2rem;
  margin-right: 1rem;
}

.dev-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  text-align: center;
  min-width: 400px;
}

.dev-grid p {
  font-family: $primary;
  color: #8892b0;
  border: 1px solid #8892b0;
  border-radius: 50%;
  padding: 2.7rem 1rem;
  transition: 0.2s ease;
}

.dev-grid p:hover {
  color: #64ffda;
  border: 1px solid #64ffda;
  transform: scale(1.15);
  transition: 0.2s ease;
  cursor: alias;
}

.skills-list {
  font-family: $primary;
  list-style: none;
  color: #8892b0;
  padding: 0;
  line-height: 2;
}

.fa-tools {
  font-size: 2rem;
  margin-right: 1rem;
}

.fa-lightbulb {
  font-size: 2rem;
  margin-right: 1rem;
}

.fa-check {
  color: #64ffda;
  margin-right: 0.5rem;
  font-size: 0.8rem;
}

// PROJECTS
.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 150px;
  padding-bottom: 8rem;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 5rem;
}

.project-img {
  grid-column: 1 / 7;
  height: 100%;
}

.project-img-reverse {
  grid-column: 7 / 13;
  height: 100%;
}

.project-overlay {
  background-color: #64ffda;
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
}

.project-screenshot {
  max-width: 500px;
}

.project-info {
  grid-column: 8 / 13;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.project-info-reverse {
  grid-column: 1 / 6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-type {
  font-family: $secondary;
  font-size: 1rem;
  color: #64ffda;
}

.project-title {
  font-family: $primary;
  font-size: 1.5rem;
  color: #ccd6f6;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.project-title:hover {
  color: #64ffda;
  cursor: pointer;
}

.project-description {
  font-family: $primary;
  color: #8892b0;
  background-color: #112240;
  line-height: 1.5;
  padding: 2rem 1.5rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  text-align: right;
}

.project-description-reverse {
  font-family: $primary;
  color: #8892b0;
  background-color: #112240;
  line-height: 1.5;
  padding: 2rem 1.5rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  text-align: left;
}

.project-skills {
  font-family: $secondary;
  font-size: 1rem;
  color: #8892b0;
  margin-bottom: 1.8rem;
}

.project-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project-links .fa-external-link-alt,
.fa-github {
  font-size: 1.3rem;
  color: #ccd6f6;
}

.fa-github:hover, 
.project-links .fa-external-link-alt:hover  {
  color: #64ffda;
}

// OTHER PROJECTS
.other-projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 150px;
  padding-bottom: 8rem;
}

.other-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 1rem 1rem;
}

.other-card{
  padding: 2rem;
  background-color: #112240;
  border-radius: 0.3rem;
  transition: 0.2s ease;
}

.other-card:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 5px 5px 10px #081829;
  transition: 0.2s ease;
  .other-title {
    color: #64ffda;
    transition: 0.2s ease;
  }
}

.other-title {
  font-family: $primary;
  font-size: 1.2rem;
  color: #ccd6f6;
  margin-top: 0.5rem;
  margin-bottom: 0;
  transition: 0.2s ease;
}

.other-description {
  font-family: $primary;
  color: #8892b0;
  line-height: 1.3;
  margin-bottom: 1.8rem;
}

.other-skills {
  font-family: $secondary;
  font-size: 0.9rem;
  color: #8892b0;
}

.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.fa-folder {
  font-size: 2.3rem;
  color: #64ffda;
}

.fa-external-link-alt {
  font-size: 1.1rem;
  color: #8892b0;
}

// CONTACT
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 150px;
  padding-bottom: 8rem;
}

.contact-title {
  font-family: $secondary;
  font-size: 1.1rem;
  color: #64ffda;
}

.contact-subtitle {
  font-family: $primary;
  font-size: 3rem;
  color: #ccd6f6;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.contact-description {
  font-family: $primary;
  color: #8892b0;
  line-height: 1.3;
  width: 50%;
  text-align: center;
  padding-bottom: 2rem;
}

// FOOTER 
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 150px;
  padding-bottom: 1.5rem;
}

.contact-btn {
  font-size: 1rem;
  padding: 1rem 2rem;
}

.credits {
  font-size: 1rem;
  font-family: $secondary;
  color: #8892b0;
}

// MEDIA QUERIES
@media only screen and (max-width: 1000px) {
  .header-container,
  .about-container ,
  .skills-container,
  .projects-container,
  .other-projects-container,
  .contact-container,
  .footer-container {
    margin: 0 100px;
  }
}

@media only screen and (max-width: 600px) {
  .header-container,
  .about-container ,
  .skills-container,
  .projects-container,
  .other-projects-container,
  .contact-container,
  .footer-container {
    margin: 0 50px;
  }
}

@media only screen and (max-width: 1030px) {
  .other-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1030px) {
  .skills-grid {
    gap: 5rem;
  }
}

@media only screen and (max-width: 830px) {
  .about-grid {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .skills-grid {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
  .flex-skills {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .other-grid {
    grid-template-columns: 1fr;
  }
}

/* 
.skills-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 10rem;
} */