@use 'abstracts' as *;
@use 'components' as *;
@use 'layout' as *;
@use 'sections' as *;

// MEDIA QUERIES
@media only screen and (max-width: 1200px) {
  .project-grid {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 1080px) {
  .header-container,
  .about-container ,
  .skills-container,
  .projects-container,
  .other-projects-container,
  .contact-container,
  .footer-container {
    margin: 0 100px;
  }
}

@media only screen and (max-width: 1030px) {
  .other-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .skills-grid {
    gap: 5rem;
  }
  .project-grid {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 950px) {
  .title, 
  .subtitle {
  font-size: 7.5vw;
  }
}

@media only screen and (max-width: 830px) {
  .about-grid {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .skills-grid {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
  .flex-skills {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .project-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  .img-container {
    aspect-ratio: 16/9;
  }
  .project-description {
    max-width: 100%;
  }
  .project-description-reverse {
    max-width: 100%;
  }
  .img-container1 {
    display: none;
  }
  .img-container2 {
    display: flex;
  }
  .section-title::after {
    width: 40vw; 
  }
}

@media only screen and (max-width: 768px) {
  .header-container,
  .about-container ,
  .skills-container,
  .projects-container,
  .other-projects-container,
  .contact-container,
  .footer-container {
    margin: 0 50px;
  }
  .nav-logo {
    margin-left: 50px;
  }
  .description {
    max-width: 90%;
  }
}

@media only screen and (max-width: 580px) {
  .other-grid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 480px) {
  .header-container,
  .about-container ,
  .skills-container,
  .projects-container,
  .other-projects-container,
  .contact-container,
  .footer-container {
    margin: 0 25px;
  }
  .nav-logo {
    margin-left: 25px;
  }
  .title, 
  .subtitle {
  font-size: 36px;
  }
  .dev-list {
    display: flex;
  }
  .dev-grid {
    display: none;
  }
  .contact-description {
    width: 100%;
  }
  .project-description {
    max-width: 100%;
    min-width: 150px;
  }
  .project-description-reverse {
    max-width: 100%;
    min-width: 150px;
  }
  .mobile-btn {
    margin-right: 25px;
  }
}

@media only screen and (max-width: 420px) {
  .flex-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
  }
  .section-title::after {
    width: 100px; 
  }
}

@media only screen and (max-width: 360px) {
  .overlay {
    height: 100%;
    width: 100%;
  }
  .profile {
    width: 100%;
  }
  .post-profile {
    height: 100%;
    transform: translateX(15px) translateY(10px);
  }
  .profile-container:hover .post-profile {
    transform: translateX(10px) translateY(5px);
  }
}

@media only screen and (max-width: 320px) {
  .section-title::after {
    width: 0px; 
  }
}

@media only screen and (min-width: 768px) {
  .social-media {
    position: fixed;
    flex-direction: column;
    left: 0; 
    bottom: 0; 
    margin-left: 25px;
    margin-bottom: 150px;
  }
  .sm-line {
    border-left: 2px solid $color1;
    height: 120px;
    position: fixed;
    left: 33px;
    bottom: 0;
  }
}

@media only screen and (min-width: 1080px) {
  .social-media {
    margin-left: 50px;
  }
  .sm-line {
    left: 58px;
  }
}

@media only screen and (max-width: 768px) {
  .mobile-btn {
    display: block;
  }
  
  .nav-menu {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .nav-menu-mobile {
    display: none;
  }
}